body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    display: inline-block;
    border: 1px solid green;
    border-radius: 7px;
    min-height: 85px;
    min-width: 75px
}

.card-text {
    color: goldenrod;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
}