:root {
    --color-highlight: #cddc39;
    --background-primary: #8bc34a;
    --border-color: #cacaca;
}

body {
    font-family: sans-serif;
    background-color: #fefefe;
}

section {
    padding: 11px 0;
    border-bottom: 1px solid var(--border-color);
}

section:last-child {
    border-bottom: 0;
}

button {
    background-color: var(--background-primary);
    border: 1px solid var(--background-primary);
    padding: 5px 17px;
    margin: 3px 7px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

button:hover {
    border-color: var(--color-highlight);
}

button:disabled {
    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    color: gray;
}

table {
    border-spacing: 0
}

table th, table td{
    border: 0;
    padding: 3px 13px;
    border-right: 1px solid var(--border-color);
}

table tbody td {
    border-bottom: 1px solid var(--border-color);
}

table tbody tr:last-child td {
    border-bottom: 0px;
}


table th:last-child, table td:last-child{
    border-right: 0;
}

table thead th {
    border-bottom: 2px solid var(--border-color);
}

/**
* CARD
*/

.card {
    width: 100px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: 5px;
    background-color: #ffffff;
}

.card:hover {
    border: 1px solid var(--color-highlight);
}

.card.voted {
     background-color: var(--color-highlight);
}

.card-text {
    vertical-align: middle;
    margin-top: 60px;
    font-size: 24pt;
    font-weight: bold;
    font-family: sans-serif;
    color: #333333;
}

.card-text.voted {
    color: white;
}
